# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# cmake 
Makefile
CMakeFiles/*
CMakeCache.txt
cmake_install.cmake

# binaries
bin/*
build/*
gTorrent

# Ignore vim swp files
*.swp

# Emacs temporaries
*.\~
#*#

# ctag files
tags

# gtag files
GPATH
GTAGS
GRTAGS

# youcompleteme configs
.ycm_extra_conf.py
.ycm_extra_conf.pyc

.idea

gtorrent.log
docs
